Source: python-boss-skynet
Maintainer: David Greaves <david@dgreaves.com>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), debhelper (>= 7), python-support (>= 0.8.4)
Standards-Version: 3.9.1
Homepage: http://wiki.meego.com/Release_Infrastructure/BOSS/SkyNET
Vcs-Git: git://gitorious.org/meego-infrastructure-tools/boss-python-skynet.git
Vcs-Browser: http://meego.gitorious.org/meego-infrastructure-tools/boss-python-skynet

Package: python-boss-skynet
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-ruote-amqp
Description: SkyNET for BOSS
